<<<<<<< HEAD
body {
	margin: 0;
	font-family: 'League Spartan', sans-serif;
	font-size: 20px;
	line-height: 35px;
}
/*Header section*/
header{
	background-color: black;
   background-image: url('/static/image/background.jpg');
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
   color: whitesmoke;
}
header img{
   border-radius: 170px;
   width: 300px ;
   border: 20px solid whitesmoke;
}
header h2{
   font-size: 40px;
   line-height: 40px;
}
body{
   background-color:#2fffec0f ;
}
.menu {
	list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    border: 3px solid #e7e7e7;
    background-color: #f3f3f3;
}
 .menuli {
   float: right;
   display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
a {display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
.happy{
          width: 1000px;
          margin: 50px auto;
          border:solid 0px gray;
          overflow: hidden;
        }
  .pic{
          width: 500px;
          float:left;
          padding: 10px;
        }
  .pic img{
          display: block;
          width:50%;
        }
  .txt{
          float: right;
          width: 440px;
          padding: 50px 30px 0px 0px;
        }

/*Main section*/
main{
   max-width: 800px;
   margin: 0 auto;
   padding: 0 20px;
}

main img{
   max-width: 75%;
   margin: 10px;
}

main h2{
   font-size: 30px;
   margin: 40px 0 10px;
}

main a{
   color: black;
}

main a:hover{
   background-color: black;
   color: white;
}

p.caption{
   margin-top: 0;
   color:  grey;
   font-style: italic;
   font-size: 20px;
}
/*body section*/
body img{
   max-width: 55%;
}
.happy{
          width: 1000px;
          margin: 50px auto;
          border:solid 0px gray;
          overflow: hidden; /* 避免長方框下面顯示不正常 */
        }
  .pic{
          width: 500px;
          float:left; /* 圖片在左邊 */
          padding: 10px;
        }
  .pic img{
          display: block;
          width:100%;
        }
  .txt{
          float: right;  /* 文字在右邊 */
          width: 430px;
          padding: 20px 20px 0px 0px;
        }
/*Footer section*/

footer{
   background-color: black;
   text-align: center;
   padding: 50px;
}

footer p{
   margin: 0;
   color:  white;
   font-size: 20px;
}

footer a{
   color: white;
}

footer a:hover{
   background-color: white;
   color: black;
=======
body {
	margin: 0;
	font-family: 'League Spartan', sans-serif;
	font-size: 20px;
	line-height: 35px;
}
/*Header section*/
header{
	background-color: black;
   background-image: url('/static/image/background.jpg');
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
   color: whitesmoke;
}
header img{
   border-radius: 170px;
   width: 300px ;
   border: 20px solid whitesmoke;
}
header h2{
   font-size: 40px;
   line-height: 40px;
}
body{
   background-color:#2fffec0f ;
}
.menu {
	list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    border: 3px solid #e7e7e7;
    background-color: #f3f3f3;
}
 .menuli {
   float: right;
   display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
a {display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
.happy{
          width: 1000px;
          margin: 50px auto;
          border:solid 0px gray;
          overflow: hidden;
        }
  .pic{
          width: 500px;
          float:left;
          padding: 10px;
        }
  .pic img{
          display: block;
          width:50%;
        }
  .txt{
          float: right;
          width: 440px;
          padding: 50px 30px 0px 0px;
        }

/*Main section*/
main{
   max-width: 800px;
   margin: 0 auto;
   padding: 0 20px;
}

main img{
   max-width: 75%;
   margin: 10px;
}

main h2{
   font-size: 30px;
   margin: 40px 0 10px;
}

main a{
   color: black;
}

main a:hover{
   background-color: black;
   color: white;
}

p.caption{
   margin-top: 0;
   color:  grey;
   font-style: italic;
   font-size: 20px;
}
/*body section*/
body img{
   max-width: 55%;
}
.happy{
          width: 1000px;
          margin: 50px auto;
          border:solid 0px gray;
          overflow: hidden; /* 避免長方框下面顯示不正常 */
        }
  .pic{
          width: 500px;
          float:left; /* 圖片在左邊 */
          padding: 10px;
        }
  .pic img{
          display: block;
          width:100%;
        }
  .txt{
          float: right;  /* 文字在右邊 */
          width: 430px;
          padding: 20px 20px 0px 0px;
        }
/*Footer section*/

footer{
   background-color: black;
   text-align: center;
   padding: 50px;
}

footer p{
   margin: 0;
   color:  white;
   font-size: 20px;
}

footer a{
   color: white;
}

footer a:hover{
   background-color: white;
   color: black;
>>>>>>> ebe375ce79dee97ab2401d81d7deed8fc76cfa26
}