<!DOCTYPE html>
<html>
<head>
		<style type="text/css">h1{color: whitesmoke;};
	    </style>
		<style type="text/css">body{text-align: center;}body{color: black;}</body>
		</style>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<title>Tomye's Home Page </title>
</head>
<body>
	<! -- Navigation section -->
	<nav>
		<div class="nav-wrapper">
			<ul class="menu">
				<li class="menuli">
				<li style="float: right;"><a href="#"><img src="/static/image/wechat.png" width="90" height="45"></a></li>
				<li style="float: right;"><a href="https://m.weibo.cn/status/4745370145654257?wm=3333_2001&from=10C2193010&sourcetype=weixin"><img src="/static/image/weibo.png" width="90" height="45"></a></li>
				<li style="float: right;"><a href="https://www.instagram.com/p/CazNQDis4B0/?utm_medium=copy_link"><img src="/static/image/INS.png" width="86" height="45"></a></li>
			</ul>
		</div>
	</nav>
	<!-- Header section -->
	<header>
		<h1 text align="center">Tomye's Home Page </h1>
	<div class="happy">
     <div class="pic">
        <img src="/static/image/Tomye_Image.jpg">
      </div>
      <div class="txt">
        <h2>Estiblished by Tomye CHEN</br>
        	<p>
        <h4>ID: 2023242</h4>	
        	</p>
        <h4>A postgraduate student in e-business management at Warwick University</h4></h3>
      </div>
    </div>
	</header>
	<! -- Main section -->
<main>
	<h2 style="color: purple;font-size: 50px;">Self-introduction</h2>
	<p>I am 24 years old from China and currently studying e-commerce management in University of Warwick. I am a lively and cheerful person who likes making friends with others. If you want to communicate with me, please click on the upper right corner to follow my social media homepage.</p>
	<img src="/static/image/Life_picture.jpg">
	<p class="caption">Painting of Tomye travelling in Brighton.</p>
	
			<!-- Hobbies and Interests -->
		<h2>Hobbies and Interests About Tomye Chen</h2>
		<ul>
			<li>My hobbies are traveling, singing and cooking.</li>
			<li>I also spend 2 hours a day going to the gym.</li>
			<li>If you want to try all kinds of Chinese food, you are welcome to be my friend.</li>
			<li>I am going to try to learn photography. If you are interested, we can work together.</li>
		</ul>
</main>

</body>
</html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
</head>
<body>

	<!-- Header section -->
	<header>
		<h1>Tomye's Friends</h1>
	</header>

	<!-- Main section -->
	<main>
<body>
<div class="happy">
     <div class="pic">
        <img src="/static/image/Chris_picture.jpg">
      </div>
      <div class="txt">
        <h1 style="color:black;">Chris CHEN</h1>
        <h3>Travelling、Photoing、Eating</br>
        <h4>"Traveling Lets You Disconnect From Your Daily Life"</h4></h3>
      </div>
    </div>
<div class="happy">
     <div class="pic">
        <img src="/static/image/Friend.jpg">
      </div>
      <div class="txt">
        <h1 style="color:black;">Anna </h1>
        <h3>Travelling、Reading、Watching</br>
        <h4>"I am what i am"</h4></h3>
      </div>
    </div>
		<!-- Compositions -->
		<h2>Please follow their homepage</h2>
		<ol>
			<li><a href="https://chanbanyuk.github.io/chanbanyuk/" target="_blank">Chris CHEN's Homepage</a></li>
			<li><a href="https://xyt720.github.io/DDP-website/" target="_blank">Ann's Homepage</a></li>	
		</ol></a>
	</main>

	<!-- Footer section -->
	<footer>
		<p>If you want to make friends with me, please contact me </p><p>Create using HTML</p>
	</footer>
</body>
</html>